Checks: >
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  modernize-*,
  performance-*, 
  cppcoreguidelines-*

WarningsAsErrors: "*"

HeaderFilterRegex: ".*" # Check your project headers, not system includes

CheckOptions:
  - key: readability-magic-numbers.IgnoredValues
    value: "0,1"
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoreEnumerators
    value: "1"
